<!DOCTYPE html>
<html>
<head>
  <title>Stickey Source</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="row">
  <div class="container-fluid container-app">
    <% if user_signed_in? %>
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <% if current_user.company_id.nil? %>
          <li>
            <span><h1><%= link_to 'Create or Join a Company', dashboard_index_path %></h1></span>
          </li>
        <% else %>
        <li>
          <span><h1><%= link_to 'Dashboard', dashboard_user_path(current_user) %></h1></span>
        </li>

        <li>
          <div class="sidebar-icon">
          </div>
          <span><h1><%= link_to 'Products', products_path %></h1></span>
        </li>

         <li>
          <div class="sidebar-icon">
          </div>
          <span><h1><%= link_to 'Inactive Products', products_path %></h1></span>
        </li>

        <li>
          <div class="sidebar-icon">
          </div>
          <span><h1><%= link_to 'Suppliers', suppliers_path %></h1></span>
            
        </li>
        <% end %>
        <li>
              <li><h1><%= link_to "Log out", destroy_user_session_path, method: :delete %></h1></li>
        </li>
      </ul>
    </div>
    <% end %>
    <div class="container">
      <%= yield %>
      <% if current_user && current_user.company_id.nil? %>
        <%= render 'companies/create_or_join' %>
      <% end %>
    </div>
  
  </div>
</div>
</body>
