<!DOCTYPE html>
<html>
<head>
  <title>Stickey Source</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="row">
  <div class="container-fluid container-app">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li>
          <span><h1><%= link_to 'Dashboard', dashboard_index_path %></h1></span>
        </li>

        <li>
          <div class="sidebar-icon">
          </div>
          <span><h1><%= link_to 'Products', products_path %></h1></span>
        </li>

         <li>
          <div class="sidebar-icon">
          </div>
          <span><h1><%= link_to 'Inactive Products', products_path %></h1></span>
        </li>

        <li>
          <div class="sidebar-icon">
          </div>
          <span><h1><%= link_to 'Suppliers', suppliers_path %></h1></span>
            
        </li>
        <li>
          <% if user_signed_in? %>
              <li><h1><%= link_to "Log out", destroy_user_session_path, method: :delete %></h1></li>
            <% else %>
              <li><h1><%= link_to "Login", new_user_session_path %></h1></li> 
            <% end %>
        </li>

      </ul>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  
  </div>
</div>
</body>
